@charset "UTF-8";

/*
Paleta de cores
Roxo: #5E4772
Roxo claro: #D7BDED
branco: 
preto: 000000
*/
:root {
    --cor01: #3F1C5D;
    --cor02: #e6d4f5;
    --cor03: #FFFFFF;
    --cor04: #000000;
    --cor05: #64017D;
    --cor06: #ca99f5;
    --cor07: #a86bdd;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor05);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {

    background-color: var(--cor03);
    width: 300px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(124, 29, 141, 0.384);
    transform: translate(-50%, -50%);
    transition: 0.5s;
    transition-timing-function: ease;

}

section#login > div#imagem {
    display: block;
    background: var(--cor01) url(../imagens/login.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;


}

section#login > div#formulario {
    display: block;
    padding: 15px;
}

div#formulario > h1 {

    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

div#formulario > p {
    font-size: 1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 8px;
}

form > div.campo {

    background-color: transparent;
    height: 42px;
    border: 1px solid var(--cor01);
    border-radius: 8px;
    margin: 5px 0px;
    padding: 5px;
}

form > div > span {
    color: var(--cor04);
    font-size: 2em;
    width: 30px;
    padding: 5px;
}

div.campo > input {
    background-color: transparent;
    font-size: 1em;
    width: calc(100% - 34.5px);
    height: 34px;
    border: none;
    border-radius: 8px;
    padding-top: 8px;
    padding-left: 5px;
    transform: translateY(-4px);
}


div.campo > input:focus-within {
    background-color: var(--cor0);
    outline-style: solid;
    outline-color: var(--cor02);
}

form label {
    display: none;
}


form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor06);
    color:var(--cor03);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: var(--cor07);
    color: var(--cor03);
}
form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding: 7px;
    margin-top: 5px;
    background-color: var(--cor03);
    color:var(--cor07);
    border: 1px solid var(--cor06);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
} 

form > a.botao:hover {
    background-color: var(--cor07);
    color: var(--cor04);
}

form > a.botao > span {
    font-size: 0.8em;
}

